<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/> <!--설정에서 각 매퍼에 설정된 캐시를 전역적으로 사용할지 말지에 대한 여부-->
        <setting name="lazyLoadingEnabled" value="true"/>  <!--지연로딩을 사용할지에 대한 여부-->
        <setting name="jdbcTypeForNull" value="NULL"/>  <!-- 쿼리에 보내는 파라메터가 null인 경우, 오류 발생하는 것 방지  예) #{search.user} -->
        <setting name="callSettersOnNulls" value="true"/>  <!--true: 쿼리 결과 필드가 null인 경우, 누락이 되서 나오는데 누락이 안되게 하는 설정-->
        <setting name="mapUnderscoreToCamelCase"
                 value="true"/>  <!--전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑하도록 함-->
    </settings>
</configuration>
